<!DOCTYPE html>
<html lang="en-GB">
<head>
<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
<title>Fantasy League stats</title>
</head>

<body>
    <h1>Enter league code to see line graphs of teams in the league</h1>

    <form method="post" action="{{ url_for('home') }}">
        <input type="text" name="league_id" placeholder="Enter League ID" required>
        <button type="submit">Show</button>
    </form>
    {% if plot_image_1 %}
    <h2 class="h2style">Total points per round</h2>
    <div class="plot-container">
        <img class="plot-image" src="data:image/png;base64,{{ plot_image_1 }}" alt="Plot_1">
    </div>
    {% endif %}
    <br>
    <br>
    {% if plot_image_2 %}
    <h2 class="h2style">Total cost per round</h2>
    <div class="plot-container">
        <img class="plot-image" src="data:image/png;base64,{{ plot_image_2 }}" alt="Plot_2">
    </div>
    {% endif %}
    <br>
    <br>
    {% if plot_image_3 %}
    <h2 class="h2style">Team place per round</h2>
    <div class="plot-container">
        <img class="plot-image" src="data:image/png;base64,{{ plot_image_3 }}" alt="Plot_3">
    </div>
    {% endif %}
</body>
</html>